<header class="bg-dark text-white text-center py-3">
    <h1 class="mb-0">Taller</h1>
    <nav class="mt-3">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link text-white" href="/main/clientes">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/main/producto">Producto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/main/pedido">Pedido</a>
        </li>
      </ul>
    </nav>
</header>
