<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css">

    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
</head>
<body>
    <%- include('partials/header') %>
    <div class="container">
        <h2>Producto</h2>
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>id</th>
                    <th>descripcion</th>
                    <th>precio</th>
                    <th>stock</th>
                    <th>createdAt</th>
                    <th>updatedAt</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'</td>
                    <td>'7.83'</td>
                    <td>'37'</td>
                    <td>2024-07-13 02:54:48</td>
                    <td>2024-07-13 02:54:48</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'</td>
                    <td>'3.32'</td>
                    <td>'18'</td>
                    <td>2024-07-13 02:54:48</td>
                    <td>2024-07-13 02:54:48</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'</td>
                    <td>'8.22'</td>
                    <td>'4'</td>
                    <td>2024-07-13 02:54:48</td>
                    <td>2024-07-13 02:54:48</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'</td>
                    <td>'5.42'</td>
                    <td>'33'</td>
                    <td>2024-07-13 02:54:48</td>
                    <td>2024-07-13 02:54:48</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'</td>
                    <td>'5.99'</td>
                    <td>'9'</td>
                    <td>2024-07-13 02:54:48</td>
                    <td>2024-07-13 02:54:48</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'</td>
                    <td>'4.15'</td>
                    <td>'33'</td>
                    <td>2024-07-13 02:54:48</td>
                    <td>2024-07-13 02:54:48</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'</td>
                    <td>'3.65'</td>
                    <td>'48'</td>
                    <td>2024-07-13 02:54:48</td>
                    <td>2024-07-13 02:54:48</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'</td>
                    <td>'3.15'</td>
                    <td>'38'</td>
                    <td>2024-07-13 02:54:48</td>
                    <td>2024-07-13 02:54:48</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'</td>
                    <td>'5.37'</td>
                    <td>'18'</td>
                    <td>2024-07-13 02:54:48</td>
                    <td>2024-07-13 02:54:48</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'</td>
                    <td>'3.93'</td>
                    <td>'48'</td>
                    <td>2024-07-13 02:54:48</td>
                    <td>2024-07-13 02:54:48</td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#example').DataTable();
        });
    </script>
</body>
</html>
